body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }

ul, li, p, h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: beige;
}